Tuple

In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
# nested tuple
nested_tuple = (4,5,6),(7,8)

In [4]:
nested_tuple

((4, 5, 6), (7, 8))

In [5]:
len(nested_tuple)

2

In [6]:
nested_tuple[0]

(4, 5, 6)

In [7]:
nested_tuple[1]

(7, 8)

In [8]:
nested_tuple[0][1]

5

In [9]:
# converting any iterators to tuple
tuple([4,5,6])

(4, 5, 6)

In [10]:
tup = tuple('ayo')

In [11]:
tup

('a', 'y', 'o')

In [12]:
tup = tuple(['foo',[1,2],True])

In [13]:
tup

('foo', [1, 2], True)

In [14]:
tup[1].append(3)

In [15]:
tup

('foo', [1, 2, 3], True)

In [16]:
# concate tuples
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [17]:
(1,2,3)*2

(1, 2, 3, 1, 2, 3)

Tuple Unpacking

In [18]:
tup = (4,5,6)
a,b,c = tup

In [19]:
a

4

In [20]:
type(a)

int

Tuple unpacking to iterate over seq of tuples or lists

In [21]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={},b={},c={}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [22]:
values = 1,2,3,4,5

In [23]:
a,b,*rest = values

In [24]:
a

1

In [25]:
b

2

In [26]:
rest

[3, 4, 5]

In [27]:
# nothing special about the REST naming
a,b,*_ = values

In [28]:
# counting the number of occurences in the tuple
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

#### LIST

In [29]:
gen = range(10)

In [30]:
type(gen)

range

In [31]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
tuple(gen)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

#### Built in Seq Function

enumerate

In [37]:
# VERY USEFUL WHILE INDEXING DATA
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i,v in enumerate(some_list):
    mapping[v] = i

In [38]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

- sorted function returns a new sorted list

In [35]:
sorted([4,5,6,12,1])

[1, 4, 5, 6, 12]

-zip
creates a list of TUPLES

In [36]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
list(zip(seq1,seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

A very common use of zip is simultaneously iterating over multiple sequences, possi‐
bly also combined with enumerate :

In [39]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print("{}: {},{}".format(i,a,b))

0: foo,one
1: bar,two
2: baz,three

In [40]:
# unzip a seqence with zip
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]

first_names ,last_names = zip(*pitchers)

In [41]:
first_names

('Nolan', 'Roger', 'Schilling')

In [42]:
last_names

('Ryan', 'Clemens', 'Curt')

-reversed

In [45]:
# iterates over the elements in reversed order
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### DICTIONARY