In [1]:
%matplotlib inline
import matplotlib.pylab
import pandas as pd
import numpy as np

- Lets read some data which is in fixed width format(fwf)
- http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii
- https://pandas.pydata.org/docs/reference/api/pandas.read_fwf.html
- first col: year, second col: month, 3rd col: monthly oxygen intake

In [4]:
data = pd.read_fwf(
    'https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii',
    header = None
)

In [5]:
data.head()

      0  1         2
0  1950  1 -0.060310
1  1950  2  0.626810
2  1950  3 -0.008127
3  1950  4  0.555100
4  1950  5  0.071577

- use Parse_Dates

In [6]:
data = pd.read_fwf(
    'https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii',
    header = None,
    index_col = 0,
    parse_dates = [[0,1]],
    infer_datetime_format = True
)

In [10]:
data.head()

                   2
0_1
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008127
1950-04-01  0.555100
1950-05-01  0.071577